.relative {
    position: relative;
}

img.w-full.course-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.py-10.lg\:w-3\/4.w-full.mx-auto.course-contents {
    position: relative;
    z-index: 1;
}


.relative::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), #0F1729);
    z-index: 1;
}